---
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";
---

<main>
  <div
    class="relative container mx-auto max-w-3xl py-24 lg:py-32 px-4 sm:text-center flex flex-col sm:items-center gap-y-6">
    <h1 class="scroll-m-20 text-3xl font-bold leading-normal lg:leading-normal tracking-tight lg:text-4xl">
      BibleDriveway
      <span class="text-foreground opacity-30">
        for those who want a new polished up bible experience.
      </span>
    </h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <Button href="/bible" variant="outline">
        Browse Bible
      </Button>

      <Button href="/signup">
        Get all access
      </Button>
  </div>
</main>
<svg
  class="absolute inset-0 -z-10 h-[calc(100vh_/_2)] w-full stroke-border [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]"
  aria-hidden="true">
  <defs><pattern id="0787a7c5-978c-4f66-83c7-11c213f99cb7" width="50" height="50" x="50%" y="-1" patternUnits="userSpaceOnUse" ><path d="M.5 200V.5H200" fill="none"></path></pattern></defs><rect width="100%" height="100%" stroke-width="0" fill="url(#0787a7c5-978c-4f66-83c7-11c213f99cb7)"></rect>
</svg>
